.logo-container {
  display: flex;
  width: 310px;
  align-items: center;
  gap: 20px;

  .logo-image {
    width: 70px;
    height: 70px;
  }
  .logo-text {
    font-weight: 800;
    font-size: 32px;
    color: #f1f1f1;
  }
}
@media (max-width: "640px") {
  .logo-container {
    width: 240px;

    .logo-image {
      width: 50px;
      height: 50px;
    }
    .logo-text {
      font-size: 22px;
    }
  }
}
@media (max-width: "576px") {
  .logo-container {
    width: 200px;

    .logo-image {
      width: 40px;
      height: 40px;
    }
    .logo-text {
      font-size: 18px;
    }
  }
}
